# Environnement virtuel
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Base de données
db.sqlite3

# Fichiers Django
*.log
local_settings.py

# Médias et fichiers statiques
media/
staticfiles/

# VS Code
.vscode/

# Variables d'environnement
.env

# Fichiers système
.DS_Store
Thumbs.db